// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

@if $enable-grid-classes {
  .container {
    @include make-container();
    @include make-container-max-widths();
  }
}

// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.

@if $enable-grid-classes {
  .container-fluid {
    @include make-container();
  }
}

// Row
//
// Rows contain and clear the floats of your columns.

@if $enable-grid-classes {
  .row {
    @include make-row();
  }
}

// Columns
//
// Common styles for small and large grid columns

@if $enable-grid-classes {
  @include make-grid-columns();
}

// Grid padding and margin

.row {
  margin: 0;

  &.main-container {
    padding: 0 15px 30px;
  }

  .page-container {
    background-color: $pink-00;
    padding-bottom: 10px;

    &.section-contact {
      padding: 30px;

      .section-padding {
        padding: 30px 0;
      }
    }

    .section-padding {
      padding: 10px 10px 0;
    }
  }
}

@include media-breakpoint-up(md) {
  .row {
    &.main-container {
      padding: 0 30px 30px;
    }

    .page-container {
      padding: 20px;

      &.section-contact {
        padding: 20px;

        .section-padding {
          padding: 0 0 20px 0;
        }

        .section-image {
          padding: 0 20px 0 0;
        }
      }

      .section-padding {
        padding: 10px 20px 0;
      }

      .section-image {
        padding: 20px;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .row {
    &.main-container {
      padding: 0 10px 50px;
    }
  }
}
